hr.solid {
  border-top: 3px solid #bbb;
}
*, *:before, *:after{
  box-sizing: content-box;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  padding: 3px
}

.clicked{
  background: #e94e1b;
  color: white;
}

li:hover{
  background: #e94e1b;
  cursor: pointer;
}

#filters{
  padding-right: 20px;
  width: 20%;
}

.card{
  width: 23%;
  height: 25rem;
  padding: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  margin: 20px;
  text-align: center;
  overflow: hidden;
}

.title{
  font-weight: bold;
}

#logo-image{
  height: 100px;
  max-width: 100%;
  width: auto;
}

a{
  text-decoration: none;
  color: black;
}

.likeButton{
  position: absolute;
  top: 0;
  left: 0;
}

.liked{
  color: blue;
  font-weight: bold;
}

